body {
      font-family: 'Poppins', sans-serif;
      background: url(img/watercolor.png);
    }

.kotak {
      margin-top: 250px;
    }

#id {
	padding: 0;
	margin: 0;
}

footer {
	background-color: lightskyblue;
}